

$tablet: 750px;
$desktop: 970px;
$large: 1170px;

$background-colour: #1e0000;

// Colours
$purple: #1e005f ;
$dark-blue: #335a76;
$lite-blue: #598aab;
$pale-blue: #ddebf1;
$lime-white: #f4ecd7;
$lite-brown: #a6a084;
$red: #b04545;
$green: #457f45;


//Grid Dimensions
$grid_base_width: 6px;
$grid-gutter-width: $grid_base_width*3;
//Header padding

// Glyphicons location visible to scss compiler
$icon-font-path: "../bootstrap/assets/fonts/bootstrap/";
